@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700;800&display=swap');
:root{
    --header-height: 40px;
    --primary-color: #553ab8;
    --secondary-color: #007d97;
    --font-semi: 400;
    --portfolio-font: 'Josefin Sans', sans-serif;
    --h1-size: 36px;
    --h2-size: 20px;
    --standart-size: 16px;
}

@media screen and (min-width: 760px){
    :root{
        --h1-size: 50px;
        --h2-size: 35px;
        --standart-size: 20px;
    }
    
}

@media screen and (max-width: 760px){
    .nav_menu{
        position: fixed;
        top: 65px;
        right: -100%;
        width: 70%;
        height: 100%;
        padding: 32px;
        background-color: white;
        border-bottom-left-radius: 20px;
    }
}


html{
    scroll-behavior: smooth;
}

body{
    margin: 40px 0 0 0;
    font-family: var(--portfolio-font);
    font-size: var(--standart-size);
    color: white;
    background-color: #1b2437;
}

a{
    text-decoration: none;
}

.section{
    padding-top: 70px;
    margin-bottom: 30px;
}

.section_name{
    position: relative;
    color: white;
    font-size: var(--h2-size);
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
}

.section_name::after{
    position: absolute;
    content: "";
    margin: auto;
    width: 95px;
    height: 3px;
    left: 0;
    right: 0;
    top: 30px;
    background-color: white;
}
.p_header{
    width: 100%;
    position: fixed;
    background-color: #0e141f;
    top: 0;
    left: 0;
}

.grid_box{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 32px;
    width: calc(100%- 32px);
    margin-left: 15px;
    margin-right: 15px;
}

.navigation{
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.header_logo{
    color: white;
    font-size: 17px;
}
.menu_icon{
    font-size: 20px;
    cursor: pointer;
}
.item{
    margin-bottom: 30px;
}

.nav_link{
    position: relative;
    color: #1b2437; 
}

.nav_link:hover{
    position: relative;
}

.nav_link:hover::after{
    position: absolute;
    content: "";
    left: 0;
    top: 30px;
    width: 100%;
    height: 3px;
    background-color: #ffcb36;
}

.selected::after{
    position: absolute;
    content: "";
    left: 0;
    top: 30px;
    width: 100%;
    height: 3px;
    background-color: #ffcb36;
}

.opened{
    right: 0;
}

.flex_myinfo{
    display: flex;
    justify-content: space-between;
}
.photo{
    width: 300px;
    height: 300px;
    border-radius: 10000000px;
    border: 5px solid #ffcb36;
}
.portfolio_image{
    /* position: absolute; */
    /* width: 295px;
    height: 295px; */
    right: 15px;
    bottom: 0;  
}

.home{
    height: calc(100vh - 45px);
    row-gap: 15px;
}

.values{
    align-self: center;
}

.h_title{
    margin-bottom: 40px;
    font-size: var(--h1-size);
    line-height: 3.3rem;
}

.colored_name{
    color: #ffcb36;
    font-weight: 600;
}

.sm_links{
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
}

.sm_icon{
    width: max-content;
    font-size: 25px;
    color: white;
    margin-bottom: 15px;
}

.sm_icon:hover{
    color: #ffcb36;
}

.btn{
    display: inline-block;
    background-color: #ffcb36;
    color: white;
    stroke: #1b2437;
    padding: 15px 45px;
    font-weight: 500;
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
}

.about_part{
    row-gap: 30px;
    text-align: center;
}

.about_myName{
    justify-self: center;
    font-size: var(--h2-size);
    margin-bottom: 15px;
    color: #ffcb36;
}
.about_text{
    font-size: var(--standart-size);
    font-weight: 200;
    line-height: 22px;
}
.about_photo{
    width: 300px;
    border-radius: 10px;
}

.skills_part{
    row-gap: 30px;
    text-align: center;
}

.section_name{
    margin-bottom: 45px;
}

.skills_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: 400;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(125, 129, 133, 0.15);
}
.s_icon{
    font-size: 30px;
    margin-right: 15px;
    color: #ffcb36;
}

.s_names{
    display: flex;
    align-items: center;
}

.projects{
    text-align: center;
}

.projects_part{
    row-gap: 30px;
}

.pr_ss{
    width: 70%;
    height: 200px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(125, 129, 133, 0.15);
}

.project_img{
    cursor: pointer;
    transition: .7s;
}

.project_img:hover{
    transform: scale(1.07);
}

.contact_form{
    text-align: center;
}

.contact_input{
    width: 90%;
    font-size: var(--standart-size);
    font-weight: 400;
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #ffcb36;
    border-radius: 10px;
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
}

.contact_btn{
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: auto;
    font-size: var(--standart-size);
}

.portfolio_footer{
    text-align: center;
    font-weight: 400;
    background-color: #0e141f;
    color: white;
    padding: 30px 0;;
}

.f_title{
    margin-bottom: 30px;
    font-size: 30px;
    color: #ffcb36;
}

.f_socLinks{
    margin-bottom: 30px;
}

.f_socLinks_icon{
    margin: 0 15px;
    color: white;
    font-size: 20px;
}

.f_socLinks_icon:hover{
    color: #ffcb36;
}

@media screen and (min-width: 760px){
    body{
        margin: 0 auto;
    }

    .section{
        padding-top: 60px;
        margin-bottom: 45px;
    }

    .section_name{
        margin-bottom: 45px;
    }

    .section_name::after{
        width: 80px;
        top: 45px;
    }

    .navigation{
        height: 55px;
    }

    .list{
        display: flex;
        padding-top: 0;
    }

    .nav_link{
        color: white;
    }

    .item{
        margin-left: 45px;
        margin-bottom: 0;
    }

    .menu_icon{
        display: none;
    }

    /* .home{
        padding-top: 100px;
    } */

    .flex_myinfo{
        margin-top: -17rem;
        
    }
    .values{
        align-self: flex-end;
    }

    .sm_links{
        flex-direction: row;
        padding-top: 0;
        padding-bottom: 35px;
        align-self: flex-end;
    }

    .sm_icon{
        margin-right: 30px;
        margin-bottom: 0;
    }

    .photo{
        width: 460px;
        height: 460px;
        bottom: 15%;
    }

    .about_part{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .about_photo{
        width: 300px;
    }

    .skills_part{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .projects_part{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 30px;
    }

    .pr_ss{
        width: 100%;
    }
    .contact_form{
        width: 500px;
    }

    .contact_part{
        justify-items: center;
    }
}

@media screen and (min-width: 1050px){
    .grid_box{
        margin-left: auto;
        margin-right: auto;
    }
}