@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
:root{
    --header-height: 40px;
    --primary-color: #553ab8;
    --secondary-color: #007d97;
    --font-semi: 400;
    --portfolio-font: 'Poppins', sans-serif;
    --h1-size: 36px;
    --h2-size: 20px;
    --standart-size: 16px;
}

@media screen and (min-width: 760px){
    :root{
        --h1-size: 50px;
        --h2-size: 35px;
        --standart-size: 20px;
    }
    
}

@media screen and (max-width: 760px){
    .nav_menu{
        position: fixed;
        top: 65px;
        right: -100%;
        width: 70%;
        height: 25%;
        padding: 32px;
        background-color: white;
        border-bottom-left-radius: 20px;
    }
}
html{
    scroll-behavior: smooth;
}

body{
    margin: 40px 0 0 0;
    font-family: var(--portfolio-font);
    font-size: var(--standart-size);
    color: white;
    background-color: #1b2437;
}

a{
    text-decoration: none;
}

section{
    margin-top: 100px;
    margin-bottom: 30px;
}
.p_header{
    width: 100%;
    position: fixed;
    background-color: #0e141f;
    top: 0;
    left: 0;
}

.grid_box{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 32px;
    width: calc(100%- 32px);
    margin-left: 15px;
    margin-right: 15px;
}

.navigation{
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.header_logo{
    color: white;
    font-size: 17px;
}
.menu_icon{
    font-size: 20px;
    cursor: pointer;
}
.item{
    margin-bottom: 30px;
}

.nav_link{
    position: relative;
    color: #1b2437; 
}

.nav_link:hover{
    position: relative;
}

.nav_link:hover::after{
    position: absolute;
    content: "";
    left: 0;
    top: 30px;
    width: 100%;
    height: 3px;
    background-color: #1b2437;
}

.selected::after{
    position: absolute;
    content: "";
    left: 0;
    top: 30px;
    width: 100%;
    height: 3px;
    background-color: #1b2437;
}

.opened{
    right: 0;
}

.photo{
    width: 300px;
    height: 300px;
    border-radius: 10000000px;
    border: 5px solid #ffcb36;
}
.portfolio_image{
    position: absolute;
    width: 295px;
    height: 295px;
    right: 15px;
    bottom: 0;  
    
}

.home{
    height: calc(100vh - 45px);
    row-gap: 15px;
}

.values{
    align-self: center;
}

.h_title{
    margin-bottom: 40px;
    font-size: var(--h1-size);
    line-height: 3.3rem;
}

.colored_name{
    color: #ffcb36;
    font-weight: 600;
}

.sm_links{
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
}

.sm_icon{
    width: max-content;
    font-size: 25px;
    color: white;
    margin-bottom: 15px;
}

.sm_icon:hover{
    color: #ffcb36;
}

.btn{
    display: inline-block;
    background-color: #ffcb36;
    color: white;
    stroke: #1b2437;
    padding: 15px 45px;
    font-weight: 500;
    border-radius: 10px;
}
